:root {
	/* 
	* this is primary color, applied on:
	* background, underline
	 */
	--primary: #36393F;
	--primary-disabled: #292222;
	/*
	* this is secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #fffff;
	/*
	* this is third color, applied on:
	* button, 
	*/
	--third: #7289DA;
	--third-disabled: #ababab;
	/*
	* other colors, used on random object.
	*/
	--o1: #00b2c9;
	--o1-disabled: #008191;
}